<h1>Movies</h1>

<ul>
    <% @movies.each do |movie| %>
        <li>
            <strong><%= movie.title %></strong> (<%= movie.rating %>):
            <%= movie.total_gross %>
        </li>
    <% end %>
</ul>